nvidia-cudnn-cu12
tensorrt_cu12_libs
tensorrt_cu12_bindings
tensorrt
numpy
scipy
matplotlib
protobuf
pynput
mediapipe
opencv_python
Pillow
pyanime4k
pyvirtualcam
pyopengl
wxpython
onnx 
onnxruntime-directml 
turbojpeg 
tqdm
torch